* {
  box-sizing: border-box;
  margin:0; 
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  
}
#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

body{
  
  background-color: antiquewhite;
}


.active {
  color:rgb(238, 238, 229);
  
 
}