.about{

}
.company-greeting{
    background-color: aliceblue;
   text-align: center;
}
.company-img{
    

}
.company-text{
    font-size: 2em;
}
.company-title{
   text-align: center;

}
.collapse{
    width: 600px;
    font-size: 2em;
    border-collapse: collapse;
    border: 1px solid black;
    
}

th{padding: 10px;
   
    background-color: aquamarine;
}
td{
    padding: 10px;
    background-color: aliceblue;
}