.mainContent{
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    .page-title{
        font-size: 1.2em;
    }
    .contact-table{
        width: 800px;
        margin: 0 auto;
        border-collapse: collapse;
        
        
           .contact-data{
            background-color: rgb(21, 84, 111);
            color: white;
        }

            td{ background-color: F0F8FF;
                border: 1px solid rgb(128, 120, 120);
            }
        

        
    }
    
}


.contact-send{
    margin-top: 20px;
}
.contact-canceled{
    margin-top: 20px;
}