// .tel-content{

//     text-align: center;
// }
// table{
//     padding: 10px;
//    margin: 0 auto;
//     background-color: aqua;
//    border: 6px  inset;
// }
// th{ font-size: 3em;
//     padding-right:10px ;
//     border:3px inset;
    
// }
// td{
//     border: 3px inset;
// }

.inquiry{text-align: center;
}
table{
    margin: 0 auto;
}