.body{
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
.recruit{
   width: 100%;


    .recruit-table{
        margin: 20px 100px 0 20px;
        text-align: center;
        border-collapse: separate;
        width: 1000px;
        
       
            th{ margin-top: 20px;
                font-size: 1.7em;
                border-bottom: 3px solid rgb(21, 84, 111);
            }
            tr{
               
                
                td{ 
                    padding: 2em;
                    border: 1px solid black;
                    border-collapse: collapse;

                }
                td:first-child{
                   background-color:  rgb(21, 84, 111);
                }
                :nth-child(1){
                    color: white;
                    width: 30%;
                }
                
                
                
            }
         
    
    }
    
}
