
.header-header{
    background-color: rgb(255, 250, 250);
    width: 1260px;
    height: 70px;

}
.headerLogoContent{
   
    display: flex;
   
    
    
    .headerLogo{
        width: 500px;
        display: flex;
        
    }
    .logoText{
        display: flex;

        .socialText{
            margin-top: 30px;
            margin-right: 10px;
            
    
    }
        .asisaiText{
             margin-top: 20px;
    }
    }
        
        
       

}
          
              


