
.headerLogoContent{
    background-color: antiquewhite;
    width: 1260px;
   
    
    
    .headerLogo{
        width: 500px;
        display: flex;
        
       

        .logoText{
            display: flex;

            .socialText{
                margin-top: 35px;
                
        
        }
            .asisaiText{
                 margin-top: 35px;
        }
        }

}}
          
              


